<div class="container">
<div id="add_todo">
<h2> Add A Todo! </h2>
<form method="POST" action="/todos">
  <input id="new_todo_task" type="text" name="todo[task]" />
  <button>Add Todo</button>
</form>
</div>

<div class="available-todos">
  <%= erb :_available %>
</div>

<div class="completed-todos">
  <h2> Completed Todo's </h2>
  <% completed_todos.each do |todo| %>
    <li id="todo-<%=todo.id%>"><%=todo.task%></li>
  <% end %>
</div>

</div>
