<div class="container">
<div id="add_todo">
<h2> Add A Todo! </h2>
<form method="POST" action="/todos">
  <input id="new_todo_task" type="text" name="todo[task]" />
  <button>Add Todo</button>
</form>
</div>

<div class="available-todos">
  <%= erb :_available %>
</div>

<div class="completed-todos">
  <%= erb :_completed %>
</div>

</div>
